.wrapper[b-4ps67kfn9v] {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.message[b-4ps67kfn9v] {
  border-radius: 8px;
  padding: 6px 10px;
  background-color: #f6f6f6;
}
.content[b-4ps67kfn9v] {
  display: flex;
}
.body[b-4ps67kfn9v] {
  flex: 1 1 auto;
}
.text[b-4ps67kfn9v] {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #18181b;
}

.file[b-4ps67kfn9v] {
  padding: 4px 0px;
  display: flex;
  gap: 10px;
}

.image[b-4ps67kfn9v] {
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.image img[b-4ps67kfn9v] {
}

.action[b-4ps67kfn9v] {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-icon[b-4ps67kfn9v] {
  color: #fff;
}

.file-body[b-4ps67kfn9v] {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.file-name[b-4ps67kfn9v] {
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #18181b;
}

.file-weight[b-4ps67kfn9v] {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #747476;
}

.time[b-4ps67kfn9v] {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #747476;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .file-name[b-4ps67kfn9v] {
    max-width: 150px;
  }
}
