.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #18181b;
}

.comments {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.body {
  flex: 1 1 auto;
  overflow-y: auto;
}

.scrollable {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat-bar {
  display: flex;
  gap: 6px;
}

.attach {
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 12px;
  flex: 0 0 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attach:hover {
  background-color: #e6e6e6;
}

.attach span {
  font-size: 20px;
  color: #747476;
}

.input {
  flex: 1 1 auto;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 8px 12px;
  height: 44px;
  display: flex;
  align-items: center;
}

.input input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  flex: 1 1 auto;
}

.input input::placeholder {
  color: #747476;
}

.input input:focus {
  outline: none;
}

.submit {
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  flex: 0 0 44px;
  height: 44px;
  background-color: #18181b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit span {
  color: #fff;
}
